@page
@model FoodStore.Pages.Foods.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Food</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Food.FoodName" class="control-label"></label>
                <input asp-for="Food.FoodName" class="form-control" />
                <span asp-validation-for="Food.FoodName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Food.FoodDescription" class="control-label"></label>
                <input asp-for="Food.FoodDescription" class="form-control" />
                <span asp-validation-for="Food.FoodDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Image</label>
                <input type="file" name="imageFile" class="form-control" />
                <span asp-validation-for="Food.Image" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Food.FoodCatId" class="control-label"></label>
                <select asp-for="Food.FoodCatId" class ="form-control" asp-items="ViewBag.FoodCatId"></select>
            </div>
            <div class="form-group">
                <label asp-for="Food.Ingredients" class="control-label"></label>
                <textarea asp-for="Food.Ingredients"></textarea>
            </div>
            <div class="form-group">
                <label asp-for="Food.Price" class="control-label"></label>
                <input type="number" asp-for="Food.Price"></input>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
